<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>WassrPlugin</string>
	<key>CFBundleIdentifier</key>
	<string>org.deadbeaf.WassrPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WassrPlugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>137</string>
	<key>NSPrincipalClass</key>
	<string>RCWassrLoader</string>
	<key>QSActions</key>
	<dict>
		<key>post</key>
		<dict>
			<key>actionClass</key>
			<string>WassrPluginAction</string>
			<key>actionSelector</key>
			<string>post:to:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>wassr_logo</string>
			<key>indirectOptional</key>
			<true/>
			<key>name</key>
			<string>post (Wassr)</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>reply</key>
		<dict>
			<key>actionClass</key>
			<string>WassrPluginAction</string>
			<key>actionSelector</key>
			<string>post:to:</string>
			<key>directTypes</key>
			<array>
				<string>WassrPluginType</string>
			</array>
			<key>icon</key>
			<string>wassr_logo</string>
			<key>name</key>
			<string>reply that...</string>
			<key>reverseArguments</key>
			<true/>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSDefaults</key>
	<dict>
		<key>WassrPreference.password</key>
		<string>pass</string>
		<key>WassrPreference.screenName</key>
		<string>wassr</string>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Motohiro Takayama</string>
		<key>categories</key>
		<array>
			<string>Web</string>
		</array>
		<key>description</key>
		<string>send message quickly to Wassr.</string>
		<key>icon</key>
		<string>wassr_logo</string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetWassrPlugin</string>
			<key>name</key>
			<string>Wassr following</string>
			<key>source</key>
			<string>WassrPluginSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>WassrPluginAction</key>
			<string>WassrPluginAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>org.deadbeaf.wassrPlugin</key>
			<string>WassrPluginSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>WassrPluginType</key>
			<string>WassrPluginSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>WassrPluginSource</key>
			<string>WassrPluginSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>WassrPluginPrefPane</key>
			<dict>
				<key>class</key>
				<string>WassrPrefPane</string>
				<key>description</key>
				<string>Wassr Preferences</string>
				<key>icon</key>
				<string>wassr_logo</string>
				<key>name</key>
				<string>Wassr option</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>wassr_logo</key>
		<dict>
			<key>bundle</key>
			<string>org.deadbeaf.WassrPlugin</string>
			<key>resource</key>
			<string>wassr_logo.icns</string>
		</dict>
	</dict>
</dict>
</plist>
